*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    /* 10px */
}

#Top_artist h2{
    margin-bottom: 0px;
}

#artist h2{
    margin: 0px;
    padding: 2rem;
    margin-top: 7rem;
    font-size: 3.2rem;
    font-weight: 1200;
    background: rgb(76,75,83);
    background: linear-gradient(90deg, rgba(76,75,83,1) 0%, rgba(24,24,79,1) 100%, rgba(0,212,255,1) 100%);
    color: whitesmoke;
}

#artist div p{
    text-align:justify;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2rem;
    background: rgb(76,75,83);
    background: linear-gradient(90deg, rgba(76,75,83,1) 0%, rgba(24,24,79,1) 100%, rgba(0,212,255,1) 100%);
    color: cornsilk;
    padding: 2rem;
    margin: 3rem;
    border-radius: 2rem;
}

#artist div{
    background: rgb(2,0,36);
    padding-bottom: 2rem;
}

/* Important for nav bar
@media screen and (max-width: 500px){
    nav{
        flex-direction: column;
        padding: 1rem;
    }
    .Login{
        margin-left: 0;
    }
} */

@media screen and (max-width:670px){
    html{
        font-size: 50%;
    }
}

@media screen and (max-width:580px){
    html{
        font-size: 40%;
    }
}
@media screen and (max-width:500px){
    html{
        font-size: 25%;
    }
}